<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | :)</title>
     <%= stylesheet_link_tag "search" %>
</head>
<body>
    
<header>
      <div class="header">

        <div class="logo"></div>
        <nav class="menu">
          <div class="drawer">
            <a href="/">Search</a>
            <a href="#contact">Contact</a>
          </div>
        </nav>

      </div>
</header>


    <div id="page-content" class="content">
    
    <% if !@activity.empty? %>
    <% for record in @activity do%>
      <div id="home-div">

      <div id="home" class="content-title">
        <h2 ><%= record.returnTitle %> </h2>
        
       
      </div> 

        <article>

        <div class="article-tags">
        
        <% if !record.returnYear.empty? %>
              <h4 class="year round"><%= record.returnYear %> </h4> </h5>
        <% else %>
        <% end %>



        
        <% if !record.returnSubSection.empty? %>
             <h5 class="subsection round"> <%= record.returnSubSection %> </h5>
         <% else %>
          <% end %>
            
        </div>
       
          <p>
            <%= sanitize(record.returnSection) %>
            </p>
        </article>
      </div>
      <% end %>
      <% else %>
      <div id="home-div">
        <h2 id="home" class="content-title"> Sorry ,we didn't find anything :( </h2>
        
      </div>
    <% end %>
    </div>

    
   
    

</body>
</html>