<div class="a">  
  <header>
    <div class="header">

      <div class="logo"><a href="javascript:history.back()">
                          <i class="fi-ctllx3-chevron-solid"></i>
                          </a></div>
      <nav class="menu">
        <div class="drawer">
        <%= form_tag search_query_path, method: :post do %>
          <%= text_field_tag :q, nil, placeholder: "Search Here ..." %>
        <% end %>
          <!--<a href="#contact">About</a>-->
        </div>
      </nav>

    </div>
     <script defer src="https://friconix.com/cdn/friconix.js"> </script> 

  </header>


  <div id="page-content1" class="content1">

    <div id="home-div1">

      <div id="home1" class="content-title1">
        <a href="/context/<%= @rules_id %>/<%= @details["section_id"] %>">
          <h2><%= @details["title"] %></h2>
        </a>
      </div> 

      <% @details["section_text"].each do |text| %>
      <article>

        <div class="article-tags">
          <% if @details["year"].present? %>
             <h4 class="year round"><%= @details["year"] %></h4>
          <% end %>    

          <% if @details["subsection"].present? %>
             <h4 class="subsection round"><%= @details["subsection"].slice(0, 9) %></h4>
          <% end %>
        </div>

        <p><%= text.html_safe %></p>

      </article>
      <% end %>

    </div>
  </div>
</div>
