





<div class="a">  
<header>
  <div class="header">
    <div class="logo">     </div>
      <nav class="menu">
        <div class="drawer">

        <%= form_tag search_query_path, method: :post do %>
          <%= text_field_tag :q, nil, placeholder: "Search Here ..." %>
        <% end %>
        
         

        </div>
      </nav>
  </div>
</header>


     <% if @rules.empty? %>
       <div style="text-align: center !important; margin : 0 auto !important;">
            <h3 >Nothing Found :(</h3>
       </div>
        
        <% end %>


  <!-- Main Content -->
<main role="main">
  <table>

    <div id="main">
      <div class="search-results-block">


        <!-- Search Results -->
          <% @rules.each do |rule| %>
        <tr>
          <td>
            <div class="search-result">
              <a href="/rules/<%= rule[0] %>">
                <p></p>
                <h3><%= rule[1][:title] %></h3>
              </a>

                <p class="result-text">
                <% if rule[1][:highlighted] %>
                    <% for section in rule[1][:highlighted] %>

                    <% if section %>

                    <span >
                     <%= section.html_safe %> 
                    </span>

                    <% end %>
                 <% end %>
                 <% end %>
                </p>
            </div>
          </td>
        </tr>
             <% end %>   
       

      </div>
    </div>
  </table>
</main>
</div>
